*{
    margin: 0px;
    padding: 0px;
}
.nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 50px;
    background-image: linear-gradient(to right,rgb(164, 237, 164),rgb(157, 157, 201),rgb(218, 67, 218));
    font-size: 20px;
    border-bottom: 2px solid black;
}
.nav ul{
    display: flex;
    gap:100px ;
    justify-content:space-between;
}
.logo{
    margin-right: 100px;
    font-family:"Style Script", cursive;
    font-size: 27px;
    margin-right: 200px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 280px;
    height: 75vh;
    background-image: linear-gradient(to right,rgb(234, 200, 138),rgb(215, 119, 215),rgb(130, 224, 130));
}
.one{
    font-size: 45px;
}
.two{
    font-size: 35px;
}
.hero-left{
    font-size: 20px;
    height: 20vh;
    width: 20vw;
}
.image{
    height: 35vh;
    width: 29vw;
    border: 3px solid black;
    border-radius: 50px;
    transition: all 0.6s;
}
.image:hover{
    transform: scale(0.5);
}
.btn{
    font-size: 20px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right,rgb(107, 107, 214),rgb(196, 107, 196));
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px 9px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.4s;
}
.btn:hover{
    background-image: linear-gradient(to right,rgb(58, 58, 173),rgb(140, 28, 140));
    border-radius: 10px;
    transform: scale(1.2);
}
.btn-container{
    margin-top: 10px;
    width: 50vw;
}
.project{
    display: flex;
    align-items: center;
    gap: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-image: linear-gradient(to right,rgb(89, 211, 148),rgb(75, 156, 217),rgb(77, 211, 168));
    height: 500px;
}
.img-1{
    margin: 30px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 70vh;
    margin-left: 60px;
    transition: all 0.5s;
}
.img-1:hover{
    border-radius: 50px;
    transform: scale(1.2);
}
.project-info{
    width: 40vw;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img-2{
    margin: 60px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 70vh;
    height: 40vh;
    margin-left: 60px;
    transition: all 0.5s;
}
.img-2:hover{
    border-radius: 50px;
    transform: scale(1.2);
}
.project-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-image: linear-gradient(to right,rgb(162, 234, 129),rgb(196, 105, 72),rgb(130, 224, 130));
    height: 500px;
}
.project-info2{
    width: 40vw;
    font-size: 24px;
}
.project-3{
    display: flex;
    align-items: center;
    gap: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-image: linear-gradient(to right,rgb(89, 211, 148),rgb(75, 156, 217),rgb(77, 211, 168));
    height: 500px;
}
.project-info3{
    width: 40vw;
    font-size: 24px;
}
.img-3{
    margin: 30px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 70vh;
    margin-left: 60px;
    transition: all 0.5s;
}
.img-3:hover{
    border-radius: 50px;
    transform: scale(1.2);
}
.foot{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,rgb(141, 141, 182),rgb(176, 124, 124));
}
#li{
    font-size: 20px;
    margin: 30px;
}
.copy{
    font-size: 20px;
    margin: 30px;
    margin-right: 500px;
}